// В этом файле должны быть стили для БЭМ-блока social, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.social {

  $block-name: &; // #{$block-name}__element {}
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }  
  }
}
