// В этом файле должны быть стили для БЭМ-блока breadcrumb, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.breadcrumb {

  $block-name: &; // #{$block-name}__element {}
  padding: 0;
  background-color: transparent;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 9px;
  
  @include media-breakpoint-up(md) {}

  li {
    a {
      text-decoration: underline;
      color: black;
    }
  }

  &-item {
    &.active {
      color: #1e62ec;
    }
  }

  &-item + &-item {
    &:before {
      content: "—";
    }
  }
}
