// В этом файле должны быть стили для БЭМ-блока attend, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.attend {

  $block-name: &; // #{$block-name}__element {}
  color: white;

  &__row {
    
    @media(min-width: $screen-md) {
      @include make-row;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media(min-width: $screen-xxl) {
      padding: 0px 17px;
    }
  }

  &__img {
    margin-bottom: 30px;

    @media(min-width: $screen-md) {
      @include make-col(5);
      padding: 0px 15px;
      margin-bottom: 0px;
    }
    @media(min-width: $screen-xxl) {
      padding: 0px 17px;
    }

    img {
      width: 100%;
    }
  }

  &__description {
    @media(min-width: $screen-md) {
      @include make-col(7);
      padding: 0px 15px;
    }
    @media(min-width: $screen-xxl) {
      padding: 0px 17px;
    }

    .form-control {
      min-width: 270px;
    }
  }
  
  &__up {
    text-transform: uppercase;
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;

    @media(min-width: $screen-md) {
      margin-top: -10px;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 34px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 21px;
  }

  &__btn {
    margin-top: 13px;
    min-width: 176px;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 13px;
    padding-bottom: 9px;
  }
  
  &__email {
    margin-top: 50px;

    @media(min-width: $screen-md) {
      @include make-row;
      margin-left: -10px;
      margin-right: -10px;
    }
    @media(min-width: $screen-lg) {
      margin-left: -10px;
      margin-right: -10px;
    }
    @media(min-width: $screen-xxl) {
      margin-top: 104px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__block {
      margin-bottom: 20px;

      @media(min-width: $screen-sm) {
        @include make-col(6);
        padding-left: 15px;
        padding-right: 15px;
      }
      @media(min-width: $screen-md) {
        @include make-col(3);
        margin-bottom: 0;
      }
      @media(min-width: $screen-xxl) {
        padding-left: 15px;
        padding-right: 15px;
      }

      input, .btn {
        width: 100%;
      }
    }

    input {
      height: 57px;
      padding-top: 2px;
      font-size: 14px;
    }

    .btn {
      height: 57px;
      text-transform: uppercase;
    }
  }
}
