// В этом файле должны быть стили для БЭМ-блока mobile-menu, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.mobile-menu {

  $block-name: &; // #{$block-name}__element {}
  width: 100%;
  color: white;

  &__row {
    // @include make-row;
    // column-count: 2;
    margin-left: -15px;
    margin-right: -15px;
    
    @media(min-width: $screen-sm) {
      column-count: 2;
    }
    @media(min-width: $screen-lg) {
      column-count: 3;
    }
  }

  &__col {
    padding-left: 15px;
    padding-right: 30px;

    @media(min-width: $screen-sm) {
      @include make-col(6);
    }
    @media(min-width: $screen-md) {
      @include make-col(4);
    }
    @media(min-width: $screen-xl) {
      @include make-col(3);
    }
  }

  &__block {
    break-after: avoid;
    // break-inside: avoid;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 30px;

    @media(min-width: $screen-xxl) {
      break-inside: avoid;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-weight: bold !important;

    &--sub {
      font-weight: 300 !important;
      font-size: 12px;
      line-height: 21px;
      margin-bottom: 8px !important;
    }
  }

  a {
    color : white;
    text-decoration: none;
    font-weight: 300;
  }
  
  &__ul {
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 30px;
    font-size: 13px;

    @media(min-width: $screen-xxl) {
      margin-bottom: 43px;
    }

    li {
      width: 100%;
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline;
      color: #acb1b8;

      &:hover, &:focus {
        color: #acb1b8;
      }
    }
  }

  &__news {
    display: flex;
    padding-bottom: 17px;
    position: relative;
    
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 170px;
      height: 1px;
      background-color: white;
    }

    &__list {
      padding: 0;
      margin: 0;
      list-style: none;
      padding-top: 6px;

      li {
        width: 100%;
      }
    }

    &__img {
      flex: 0 0 88px;
      height: 57px;
      overflow: hidden;
      position: relative;
      
      img {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }

    &__description {
      width: 100%;
      padding: 0px 0px 0px 11px;
      margin-top: -4px;
      font-size: 12px;
    }

    a {
      text-decoration: underline;
      line-height: 20px;
      color: #acb1b8;

      &:hover, &:focus {
        color: #acb1b8;
      }
    }

    &__date {
      color: rgba(255, 255, 255, 0.3);
      margin-top: 8px;
      font-size: 12px;
    }
  }

  &__more {
    text-align: right;
    font-size: 13px;
    margin-top: 15px;

    @media(min-width: $screen-xxl) {
      margin-top: 39px;
    }

    a {
      color: white;
      text-transform: uppercase;
      text-decoration: underline;
      
    }
  }
}
