// В этом файле должны быть стили для БЭМ-блока ad-promo, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.ad-promo {

  $block-name: &; // #{$block-name}__element {}
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-image: url(../img/ad-background.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 20px;
  color: white;
  padding-bottom: 20px;

  @media(min-width: $screen-sm) {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &__row {
    @media(min-width: $screen-sm) {
      @include make-row;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__main {
    margin-bottom: 20px;

    @media(min-width: $screen-sm) {
      padding: 0px 15px;
      margin-bottom: 0;
    }
  }

  &__side {
    display: flex;

    @media(min-width: $screen-sm) {
      padding: 0px 15px;
    }

    form {
      display: flex;
    }
  }

  .btn {
    width: 190px;
    height: 48px;
    margin-left: 15px;
  }

  .form-control {
    height: 48px;
  }
  
  &__title {
    font-size: 12px;
    text-transform: uppercase;
    
    @media(min-width: $screen-sm) {
      font-size: 16px;
    }
  }

  p {
    display: none;
    
    font-size: 14px;
    margin: 0;

    @media(min-width: $screen-sm) {
      display: block;
      
    }
  }

}
