// В этом файле должны быть стили для БЭМ-блока navbar, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.navbar {

  $block-name: &; // #{$block-name}__element {}
  width: 100%;

  &-brand {
    margin-right: 13px;
    padding-top: 9px;

    @include media-breakpoint-up(xl) {}

    img, svg {
      
      
      @include media-breakpoint-up(xl) {}
    }
  }

  &-nav {

    @include media-breakpoint-up(xl) {}

    li {

      @include media-breakpoint-up(xl) {}

      &:last-child {}

      &.active {
        .nav-link {
          
        }
      }
    }

    .nav-link {
      
    }
  }

  &-collapse {
    padding-top: 4px;

    & > * {
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-expand-lg {
    #{$block-name} {
      &-collapse {
        justify-content: flex-end;
        display: none !important;
        
        @include media-breakpoint-up(xl) {
          display: flex !important;
        }
      }
    }
  }
}