
.hamburger {
  $block-name: &; // #{$block-name}__element {}
  width: 46px;
  height: 46px;
  position: relative;
  transform: rotate(0deg);
  // transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 1px;
    width: 16px;
    background: white;
    opacity: 1;
    left: 15px;
    transform: rotate(0deg);
    // transition: .25s ease-in-out;

    &:nth-child(1) {
      top: 17px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 23px;
    }

    &:nth-child(4) {
      top: 29px;
    }
  }

  &.open {
    span {
      &:nth-child(1) {
        top: 20px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 20px;
        width: 0%;
        left: 50%;
      }
    }
  }

  &--dark {
    background-color: #39414b;

    span {
      background-color: white;
    }
  }

  &--light {
    // background: white;

    span {
      background: $primary;
    }
  }


}

